apiVersion: apps/v1
kind: Deployment
metadata:
  name: bill01
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: bill01
  template:
    metadata:
      labels:
        app: bill01
    spec:
      containers:
        - name: bill01
          image: 'registry.digitalocean.com/sds-do-cr01/bill02:latest'
          ports:
          - containerPort: 8080
      restartPolicy: Always
